<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EH_FQDN" value="XXXXXXXXXXXXXXXXXXXXX.servicebus.windows.net:9093"/>
    <add key="EH_CONNECTION_STRING" value="Endpoint=sb://XXXXXXXXXXXXXXXX.servicebus.windows.net/;SharedAccessKeyName=XXXXXXXXXXXXXXXXXX;SharedAccessKey=XXXXXXXXXXX"/>
    <add key="EH_NAME" value="input-topic"/>
    <add key="CONSUMER_GROUP" value="$Default"/>
    <add key="CA_CERT_LOCATION" value=".\cacert.pem"/>
  </appSettings>
</configuration>

